<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="font-family:'Lato',sans-serif;">
    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-3xl mx-auto justify-center">
  <div class="text-center my-10">
    <h1 class="font-bold text-3xl mb-2 text-blue-600">Settings</h1>
    <h4 class="text-gray-600"></h4>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
Random bullshit go

<div class="text-blue-600 py-3">
<a class="hover:text-blue-400" href="/nav">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
      </svg>
    Go back</a>
</div>
</div>


<script src="main.js"></script>
</body>
</html>